<h4 id="patient_page"><%= current_user.patient.name %>さんの予約</h4>

<br>
<div>
  <h3>治療の目安は、1時間ほどです。</h3>
  <h3>予約したい日付をクリックして</h3>
  <h3>時間帯をドラッグアンドドロップして予約をしてください。</h3>
</div>
<%= form_with model: Reservation.new, url: client_clinic_reservations_path(@clinic), local: true do |form| %>
  <div id='calendar-container'>
    <div id='calendar'></div>
  </div>
  <%= form.submit %>
<% end %>
 <br> 
  <%= link_to t('view.my_page'), patient_path(Patient.find(current_user.patient.id)), class:"btn btn-primary" %>
