<div>
  <h3>治療の目安は、1時間ほどです。</h3>
  <h3>予約したい日付をクリックして</h3>
  <h3>時間帯をドラッグアンドドロップして予約をしてください。</h3>
</div>
<%= form_with model: Reservation.new do |form| %>

  <div id='calendar-container'>
    <div id='calendar'></div>
  </div>

  <%= form.submit %>
<% end %>

<% if current_user.patient %>
  <%= link_to t('view.my_page'), patient_path(Patient.find(current_user.patient.id)), class:"btn btn-primary" %>
<% else %>
  <%= link_to t('view.my_page'), doctor_path(Doctor.find(current_user.doctor.id)), class:"btn btn-primary" %>
<% end %>
<script>

<script>
$(document).ready(function() {
    $('#btn').click(function() {
        $('#form1').submit();
    });
});

</script>
