<div>
  <h4>予約表</h4>
  <br>
</div>

<%= form_with model: Reservation.new, url: staff_reservations_path(@clinic), local: true do |form| %>
  <div id='calendar-container'>
    <div id='calendar'></div>
  </div>
<% end %>
  <br>
<%= link_to t('view.my_page'), doctor_path(Doctor.find(current_user.doctor.id)), class:"btn btn-primary" %>