<h1>お知らせ作成</h1>

<%= form_with(model: information.new) do |form| %>
  <div class="information_comment">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>
  <%= form.submit %>
<% end %>