body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

header {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #afeeee;

  .app_name {
    font-size: 4rem;
    margin-left: 15px;
    a {
      text-decoration: none;
      color: gray;
    }
  }

  .header_manu {
    font-size: 1.6rem;
    display: flex;
    flex-grow: 3;
    margin-right: 25px;
    justify-content: flex-end;
    .my_page {
      margin-right: 30px;
      // text-align: right
      a {
        text-decoration: none;
        color: gray;
      }
    }

    .clinic_page {
      margin-right: 30px;
      // text-align: right
      a {
        text-decoration: none;
        color: gray;
      }
    }

    .reservation {
      margin-right: 30px;
      // text-align: right
      a {
        text-decoration: none;
        color: gray;
      }
    }

    .doctor_create {
      margin-right: 30px;
      // text-align: right
      a {
        text-decoration: none;
        color: gray;
      }
    }

    .index {
      margin-right: 30px;
      // text-align: right
      a {
        text-decoration: none;
        color: gray;
      }
    }

    .reservation_index {
      margin-right: 30px;
      // text-align: right
      a {
        text-decoration: none;
        color: gray;
      }
    }

    .information_create {
      margin-right: 30px;
      // text-align: right
      a {
        text-decoration: none;
        color: gray;
      }
    }

    .logout {
      margin-right: 30px;
      // text-align: right;
      a {
        text-decoration: none;
        color: gray;
      }
    }

    .crrent_user {
      margin-right: 30px;
      // text-align: right;
      text-decoration: none;
      color: gray;
    }

    .sign_up {
      margin-right: 30px;
      // text-align: right;
      a {
        text-decoration: none;
        color: gray;
      }
    }

    .login {
      margin-right: 30px;
      // text-align: right;
      a {
        text-decoration: none;
        color: gray;
      }
    }

    .admin_page {
      margin-right: 30px;
      // text-align: right;
      a {
        text-decoration: none;
        color: gray;
      }
    }
  }
}
.alert alert-error {
  padding: 0%;
}
.session_form {
  background-color: #dcdcdc;
  margin: 5px 20px 10px 20px;
  padding: 100px;
  height: 60rem;
}

th {
  text-align: center;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afeeee;
  font-size: 1.5rem;
  height: 90px;
  li {
    list-style: none;
  }
}
